* {
    box-sizing: border-box;
}

body {
    background-color: rgba(55, 65, 81, 1);
    color: rgba(255, 255, 255, 1);
    max-width: 1440px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0 auto;
}

header {
    margin-bottom: 69px;
}



form > input {
    background-color: rgba(31, 41, 55, 0.6);
    font-size: 16px;
    line-height: 18.75px;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    padding: 9px 112px 12px 49px;
}

header a, ul {
    text-decoration: none;
    text-transform: none;
    color: rgba(255, 255, 255, 1);
    list-style: none;
}


.img-container {
    width: 896px;
    margin: 0 auto;
}

article {
    width: 708px;
    height: auto;
    margin: 0 auto 103px;
}

main > p, main > h1, footer {
    text-align: center;
}

a span {
font-size: 18px;
line-height: 21px;
}

nav a {
    font-size: 16px;
    line-height: 18.75px;
}

main > p {
    font-size: 14px;
    line-height: 16.41px;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 30px;
}

.text-1 {
    font-size: 20px;
    line-height: 32px;
}

.text-2 {
    font-size: 16px;
    line-height: 30px;
}

footer > p {
    font-size: 16px;
    line-height: 28px;
}

.title-p {
    margin-bottom: 14px;
}

.avatar-container {
    width: 214px;
    margin: 0 auto;
}

.avatar-text {
    display: inline-block;
}

.avatar-title1 {
    font-size: 16px;
    line-height: 28px;
}

.avatar-title2 {
    width: 85px;
    font-size: 14px;
    line-height: 28px;
}