* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#374151, #111827);
    color: rgba(255, 255, 255, 1);
    max-width: 1440px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0 auto;
}

header {
    padding-top: 80px;
}

footer {
    padding-bottom: 77px;
}

.header-block{
    max-width: 1080px;
    margin: 0 auto 80px;
    display: flex;
    align-items: center;
    gap: 77px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 39px;
}

li:nth-child(1){
    margin-right: 13px;
}

.form-search {
    position: relative;
    margin-left: auto;
    background-color: rgba(31, 41, 55);
    font-size: 16px;
    line-height: 18.75px;
    opacity: 0.6;
    border-radius: 100px;
    width: 224px;
    padding: 9px 11px 12px 49px;
}

form input {
    background-color: rgba(31, 41, 55, 0.6);
}

[type="search"] {
    border: none;
    outline: none;
}

.search-img {
    position: absolute;
    top: 14px;
    left: 18px;
}

header a, ul {
    text-decoration: none;
    text-transform: none;
    color: rgba(255, 255, 255, 1);
    list-style: none;
    margin:0;
    padding: 0;
}


.img-container {
    max-width: 896px;
    max-height: 594px;
    margin: 0 auto 69px;
}

.img-container img {
    border-radius: 5px;
}


.ava-photo {
    width: 50px;
    height: 50px;
}

article {
    width: 708px;
    margin: 0 auto 95px;
}

main > p, main > h1, footer {
    text-align: center;
}

.my-blog {
font-size: 18px;
line-height: 21px;
}

.my-blog-pic {
    width: 35px;
    font-size: 18px;
    line-height: 22.63px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(75, 85, 99, 1);
    padding: 6px 12px;
    margin-right: 11px;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);

}

nav a {
    font-size: 16px;
    line-height: 18.75px;
}

main > p {
    font-size: 14px;
    line-height: 16.41px;
}

h1 {
    max-width: 525px;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.text-1 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 45px;
}

.text-2 {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 45px;
}

footer > p {
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}

.title-p {
    margin: 0 0 14px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.avatar-container {
    max-width: 214px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    margin-bottom: 28px;
}

.avatar-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avatar-title1 {
    font-size: 16px;
    line-height: 28px;
    margin: 1px 0;
}

.avatar-title2 {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.6;
    margin: 0;
}