h1 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    line-height: 49.03px;
}


body {
    width: 582px;
    height: 573px;
}

table {
    width: 394px;
    box-sizing: border-box;
    padding: 0;
}

th {
    color: rgba(51, 51, 51, 1);
    text-align: left;
}

th > input {
    width: 100%;
}

td > input {
    width: 100%;
}

input {
    background-color: rgba(245, 245, 245, 1);
    font-style: italic;
    padding: 0;
}


button {
    background-color: rgba(8, 159, 224, 1);
    width: 394px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
}